nav {
    @center-line-height: 57px;
    .text();
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: -60px;
    background-color: #fffe;
    border-bottom: 1px solid @classic-gray;
    padding: 0 80px;

    .site-title {
        // 导航栏左侧标题
        float: left;
        line-height: @center-line-height;
        font-weight: 700;
        font-size: 21px;
    }

    .nav-content {
        // 导航栏元素
        float: right;
        height: 100%;

        .nav-program {
            display: inline-block;
            line-height: @center-line-height;
            margin: 0 18px;

            @media screen and (max-width: 718px) {
                display: none;
            }
        }

        .aside-nav-button {
            .nav-program();
            display: none;

            a {
                color: @classic-green;
            }

            @media screen and (max-width: 718px) {
                display: block;
            }
        }
    }

    // 为移动端准备的导航栏
    .aside-nav-content {
        position: fixed;
        top: 0;
        right: -300px;
        z-index: 0;
        width: 300px;
        height: 100%;
        background-color: #fff;
        padding: 10px;

        .profile {
            width: 100px;
            height: 100px;
            background-image: url({url});
            background-color: @classic-blue;
            border-radius: 12px;
            margin: 10px auto;
        }

        .name {
            margin: 15px 0;
            text-align: center;
            font-weight: bold;
            font-size: 23px;
        }

        hr {
            margin: 10px 0;
            border: 2px dashed @classic-blue;
        }

        .nav-program {
            display: inline-block;
            width: 100%;
            height: 60px;
            text-align: center;
            line-height: @center-line-height;
            transition: background-color 0.3s;

            &:hover {
                color: @classic-white;
                background-color: @classic-green;
            }
        }

        @media (prefers-color-scheme: dark) {
            background-color: #444;
        }
    }


    .nav-mask {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #0005;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }

    @media screen and (max-width: 718px) {
        & {
            padding: 0 30px;
        }
    }

    @media (prefers-color-scheme: dark) {
        background-color: #0004;
    }
}