@classic-blue: #49b1f5;
@classic-green: #00c4b6;
@classic-red: #ff7242;
@classic-white: #fff;
@classic-black: #2a2a2a;
@classic-gray: #aaa;
@sparator: 0.6px solid #efefef;
@classic-margin: 40px;
@classic-top-card-border-radius: 10px;
@classic-inpage-border-radius: 5px;

@import "/public/com/nav/nav.less"; // 导航栏样式
@import "/public/com/footer/footer.less"; // 页脚

// 日间模式
@media (prefers-color-scheme: light) {
    html {
        --system-color: #fcfcfc;
        --classic-box-shadow: 0 3px 8px 6px #07111b0d;
    }

    .cardbox {
        background-color: #fff;
        box-shadow: var(--classic-box-shadow);
    }
}

// 夜间模式
@media (prefers-color-scheme: dark) {
    html {
        --system-color: #333;
        --classic-box-shadow: 0 2px 5px 3px #d3d8de3e;
    }

    .cardbox {
        background-color: #595959;
        box-shadow: var(--classic-box-shadow);
    }
}

body {
    background-color: var(--system-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa {
    font-size: 20px;
}

// 主容器
.container {
    width: 100%;
    padding-right: 1.5rem * 0.5;
    padding-left: 1.5rem * 0.5;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

// 区块卡片盒子
.cardbox {
    border-radius: @classic-top-card-border-radius;
    padding: 8px;
}

a {
    text-decoration: none;
    color: @classic-blue;

    &:hover {
        color: darken(@classic-blue, 7%);
    }
}

hr {
    border: none;
    border-bottom: @sparator;
}

.img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: @classic-blue;
}

header {
    animation: fadeIn 1s;

    @keyframes fadeIn {
        from {
            opacity: 0;
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
        }

        to {
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            opacity: 1;
        }
    }
}

.text {
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}